html{
    scroll-behavior: smooth;
}
/*  MENU  */
header .container{
    width: 100%;
    background: rgba(184, 176, 156, 0.8);
}
header .container .collapse{
    width: 560px;
}
header .container .collapse i{
    font-size: 22px;
}
header .container .collapse .nav-item a{
    margin: auto;
    color:#fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
header .container .collapse .nav-item a:hover, a:focus{
    background-size: 100% 2px;
    color: #000000;
}


/*  HOME  */
.container .home{
    height: 100vh;
    background-image: url(../img/arquitectura-bar.jpg);
    background-size: cover;
    background-position: center;
}
.container .home h1{
    font-size: 75px;
    color:#fff;
}

/*  NUESTRA COCINA*/
.container .nuestra-cocina img{
    width: 100%;
}

/*  MENUS  */
.container .menus{
    padding-top: 50px;
    text-align: center;
}
.container .menus img{
    width: 100%;  
}
.container .menus .button{
    position: relative;
    display: block;
    margin: 20px auto 35px auto;
    padding: 0.5em 2.2em;
    background: transparent;
    color: #b8b09c;
    border: none;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.container .menus .button span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 5px solid #b8b09c;
}
.container .menus .button span::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 650%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .3s;
}
.container .menus .button:hover span::before{
    transform: translate(-50%, -5 0%) rotate(-90deg);
    width: 100%;
    background: #b8b09c;
}
.container .menus .button:focus span::before{
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #b8b09c;
}  
.container .menus .button:hover{
    color: #fff;
}
.container .menus .button:focus{
    color: #fff;
}


/*  RESERVAS  */
.container .reservas{
    padding-top: 50px;
    margin: auto auto 140px auto;
}
.container .reservas h2{
    margin-top: 30px;
}
.container .reservas .info{
   margin-top:100px;
   font-size: 20px;
}
.container .reservas .info i{
    color: #b8b09c;
    font-size: 50px;
}
.container .reservas .info .form button{
    border-radius: 0;
    background: rgb(22, 22, 22);
    color: #fff;
    margin: 0;
    font-weight: 800;
    cursor: pointer;
}
.container .reservas .info .form button:hover{
    background: #000000;
}
.container .reservas .info .form a{
    text-decoration: none;
    color: #fff;
}
.container .reservas .info .mapa button{
    background: none;
    cursor: pointer;
    border-radius: 0;
}


/*  Contactanos  */
.container .contactanos .form-group input{
    border: none;
    border-bottom: 1px solid #b8b09c;
    border-radius: 0;
}
.container .contactanos .form-group textarea{
    border-color: #B8B09C;
    border-radius: 0;
}
.container .contactanos .form-group button{
    border-radius: 0;
    background: rgb(22, 22, 22);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.container .contactanos .form-group button:hover{
    background: #000000;
    
}
.container .contactanos h2{
    padding: 50px 0;
}
.form-check-label{
    padding-bottom: 15px;
}


/*  FOOTER  */
footer{
    background: #241d1b;
    color: #f5f0ed;
}
footer img{
    width: 90px;
}
footer .sociales i{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 15px;
    font-size: 40px;
    line-height: 100px;
    background: #cbcbcb;
    color: #fff;
    border-radius: 100px;
    transition: all .3s ease;
}
footer .sociales i:hover{
    background: #b8b09c;
}

@media screen and (max-width:360px){
    .container .home h1{
        font-size: 70px;
    }
    .container .reservas{
        padding-top: 0px;
    }
    .container .reservas h2{
        margin-top:40px;
        margin-bottom: 35px;
    }
    .container .reservas .info{
        margin-top: 15px;
    }   
}





/*  Animacion Boton Mapa  */
.button{
    margin: 20px auto 35px auto;
    border: none;
    display: block;
    position: relative;
    padding: 0.5em 2.2em;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    user-select: none;
    color: #b8b09c;
    overflow: hidden;
}
.button span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 5px solid #b8b09c;
    
}
.button span::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 750%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all .3s;
}
.button:hover span::before{
    transform: translate(-50%, -5 0%) rotate(-90deg);
    width: 100%;
    background: #b8b09c;
}
.button:focus span::before{
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #b8b09c;
}  
.button:hover{
    color: #fff;
}
.button:focus{
    color: #fff;
}
/**/
iframe{
    width: 100%;
    height: 500px;
}


.animado{
    opacity: 0;
    transition:  all 0.5s;
}

.mostrarIzq{
    animation: mostrarIzq 1s;
}
@keyframes mostrarIzq{
    0%{
        transform: translateX(-60px);
    }
   100%{
        transform : translateX(0);
   }
}
.animadodos{
    opacity: 0;
    transition:  all 0.5s;
}
.mostrarDer{
    animation: mostrarDer 1s;
}
@keyframes mostrarDer{
    0%{
        transform: translateY(60px);
    }
   100%{
        transform : translateY(0);
   }
}
