
.icon-clock:before { content: '\e800'; } /* '' */
.icon-down-circle:before { content: '\e801'; } /* '' */
.icon-down-dir:before { content: '\e802'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */